<body class="bg">
<header class="navbar-fixed-top">
  <div class="container">
    <h1><div class="title" href="/"><%= link_to "Z-Mobile", root_path%></div></h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Home",   root_path %>
        <% if current_user != nil %>
          <%= link_to link_to('Logout', destroy_user_session_path, method: :delete)%>
          <%= link_to current_user.email, user_path(current_user.id)%>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
        <%end%>
      </ul>
    </nav>
  </div>
</header>
</body>
